[submodule "CppChessLib/Train/tqdm.cpp"]
	path = CppChessLib/Train/tqdm.cpp
	url = https://github.com/tqdm/tqdm.cpp
[submodule "CppChessLib/Train/progress-cpp"]
	path = CppChessLib/Train/progress-cpp
	url = https://github.com/prakhar1989/progress-cpp
